#equipe{
    width: 100%;
    
    background-color: var(--cor_fundo);
}

#equipe h1{
    color: var(--cor_principal);
    font-size: 100px;
    text-align: center;
    padding-top: 2%;
}

.equipe_blocos{
    display: flex;
    justify-content: space-evenly;
     
}

.equipe_blocos div{  
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.equipe_blocos img{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.equipe_blocos div a{
    flex-direction: row;
}


