#equipe{
    width: 100%;
    padding: 4%;
    background-color: var(--cor_fundo);
}

#equipe h1{
    color: var(--cor_principal);
    font-size: 100px;
    text-align: center;
    padding-top: 2%;
}

