header{
    width: 100%;
    height: 10vh;
    background-color: var(--cor_header);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
}

.header_logo img{
    width: 130px;
    margin-left: 20px;
    
}

.header_links a{
    color: var(--cor_secundaria);
    font-size: 20px;
    margin-right: 70px ;
    
}
.header_links :hover{
    color: var(--cor_principal);
}

