#jogo{
    width: 100%;
    background-color: var(--cor_fundo);
    text-align: center;
}

.jogo_conteudo h2{
    font-size: 100px;
    color: var(--cor_principal);
    padding-top: 6%;
}

@media (max-width:480px){
    .jogo_conteudo h2{
        font-size: 75px;}
}

.jogo_conteudo p{
    font-size: 25px;
    padding: 4% 10% ;
    color: var(--cor_secundaria);  

}

.jogo_download a {
    background-color: var(--cor_header);
    color: var(--cor_principal);
    box-shadow: 1px 1px 15px 3px var(--cor_header);
    font-weight: 600;
    font-size: 25px;
    padding: 0.5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.jogo_download :hover{
    background-color: var(--cor_principal);
    color: var(--cor_header);
    
}